absl-py==2.1.0
asgiref==3.6.0
astunparse==1.6.3
attrs==23.1.0
blinker==1.6.2
Brotli==1.0.9
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.6
colorama==0.4.6
ConfigArgParse==1.7
contourpy==1.0.5
cycler==0.11.0
distlib==0.3.6
Django==4.2.1
django-autoslug==1.9.9
django-ckeditor==6.7.0
django-cors-headers==4.3.1
django-js-asset==2.2.0
django-phonenumber-field==7.2.0
django-phonenumbers==1.0.1
django-versatileimagefield==3.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
dm-tree==0.1.8
dotenv==0.0.5
drf-spectacular==0.26.2
Faker==19.1.0
filelock==3.12.2
Flask==2.3.2
Flask-BasicAuth==0.2.0
Flask-Cors==4.0.0
flatbuffers==24.3.7
fonttools==4.38.0
gast==0.5.4
gevent==23.7.0
geventhttpclient==2.0.9
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.62.1
h5py==3.10.0
idna==3.4
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
keras==3.1.0
keras-facenet==0.3.2
kiwisolver==1.4.4
libclang==16.0.6
locust==2.16.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.6.1
mdurl==0.1.2
ml-dtypes==0.3.2
msgpack==1.0.5
mtcnn==0.1.1
namex==0.0.7
numpy==1.26.4
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.10.0
packaging==21.3
pandas==1.5.1
phonenumbers==8.13.23
Pillow==9.2.0
platformdirs==3.6.0
protobuf==4.25.3
psutil==5.9.5
pycparser==2.21
Pygments==2.17.2
PyJWT==2.7.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-magic==0.4.27
python-magic-bin==0.4.14
pytz==2022.5
pywin32==306
PyYAML==6.0
pyzmq==25.1.0
requests==2.31.0
rest-framework-simplejwt==0.0.2
rich==13.7.1
roundrobin==0.0.4
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sklearn==0.0.post5
sqlparse==0.4.4
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.1.0
tqdm==4.66.1
turtle==0.0.1
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.3
virtualenv==20.23.1
virtualenvwrapper-win==1.2.7
Werkzeug==2.3.6
wrapt==1.16.0
zope.event==5.0
zope.interface==6.0